* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Calculator Box */
.top-body {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo_area h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #eef0f1;
    background: #148128;
    padding: 10px;
    border-radius: 8px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #334155;
    color: #fff;
}

/* People */
.innerPeople ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #334155;
    padding: 10px;
    border-radius: 6px;
}

.innerPeople li {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/* Button */
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

/* Summary */
.total_per_person {
    width: 350px;
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    display: none;
}

.total_per_person div {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

hr {
    border: 0.5px solid #334155;
    margin: 10px 0;
}

/* Responsive */
@media (max-width: 400px) {

    .top-body,
    .total_per_person {
        width: 95%;
    }
}